<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exlpore</title>
</head>
<body>
    <div id="climb-content-wrapper" style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center;"> 
        <div>
            <h1>Climb</h1>
            <p>AUG17--22 MOUNT KAZBEGI</p>
            <p>A SADLDAS EXPEDITION</p>
        </div>
    </div>
</body>
</html>