<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/games.css">
    <link rel="stylesheet" href="css/otto.css">
</head>

<body>
    <canvas id="dotsCanvas"></canvas>
    <div class="sidebar-container">

        <ul id="tabList" class="games-menu">
            <li><a href="#" onclick="showTab(0); return false;">Among Us</a></li>
            <li><a href="#" onclick="showTab(1); return false;">Content Warning</a></li>
            <li><a href="#" onclick="showTab(2); return false;">Garry's Mod</a></li>
            <li><a href="#" onclick="showTab(3); return false;">Lethal Company</a></li>
            <li><a href="#" onclick="showTab(4); return false;">Minecraft</a></li>
        </ul>

    </div>
    <div class="main-content" id="mainContent">
        <div class="tab-content" id="tab1">
            <div class="content">
                <div class="content">
                    <a href="https://store.steampowered.com/app/945360/Among_Us/">Buy on Steam</a><br><br>
                    Play with 4-15 player online or via local WiFi as you attempt to prepare your spaceship for
                    departure, but beware as one or more random players among the Crew are Impostors bent on killing
                    everyone!
                </div>
                <div class="content">
                    <p>
                    </p>
                    <h2>Mods Guide</h2>
                    <ol>
                        <li><a href="Better-CrewLink-Setup-3.1.1.exe">Download Crewlink exe</a></li>
                        <li>Run the exe</li>
                        <li>Play Among Us</li>
                    </ol>
                    <p></p>
                </div>

            </div>
        </div>
        <div class="tab-content" id="tab2">
            <div class="content">
                <div class="content">
                    <a href="https://store.steampowered.com/app/2881650/Content_Warning/">Buy on Steam</a><br><br>
                    Get famous or die trying! Content Warning is a co-op horror game where you film spooky stuff with
                    your friends to try and go viral.
                </div>
                <div class="content">
                    <p>
                    </p>
                    <h2>Mods Guide</h2>

                </div>
                <ol>
                    <li>Download &amp; install <a
                            href="https://media.sadlads.com/r2modman-Setup-3.1.48.exe">r2modman</a>.</li>
                    <li>type "content warning" in the search box, and click "set as default".</li>
                    <li>click the "Import / Update" button.</li>
                    <li>If it's your first time using r2modman, click "Import new profile". Otherwise, click "Update
                        existing profile"</li>
                    <li>Click "From Code".</li>
                    <li>Enter the following code: <span id="copySpan"
                            onclick="copyStuff()">018ee81e-62bf-d73f-af40-a8d55e5ddac1</span> (click to copy).</li>
                    <li>Click "Import".</li>
                    <li>Make sure "CW_SADLADS" is selected, and Click "Select Profile".</li>
                    <li>Click "Start modded".</li>
                    <li>Yep, It's gaming time.</li>
                </ol>
                Pro tip: If the game is not showing in r2modman, install the latest version (available <a
                    href="https://media.sadlads.com/r2modman-Setup-3.1.48.exe">here</a>).
                <p></p>
            </div>
        </div>
        <div class="tab-content" id="tab3">
            <div class="content">
                <div class="content">
                    <a href="https://store.steampowered.com/app/4000/garrys_mod">Buy on Steam</a><br><br>
                    Garry's Mod is a physics sandbox. There aren't any predefined aims or goals. We give you the tools
                    and leave you to play.
                    <br><br>
                    You spawn objects and weld them together to create your own contraptions - whether that's a car, a
                    rocket, a catapult or something that doesn't have a name yet - that's up to you. You can do it
                    offline, or join the thousands of players who play online each day.
                    <br><br>
                    If you're not too great at construction - don't worry! You can place a variety of characters in
                    silly positions. But if you want to do more, we have the means.
                </div>
                <div class="content">
                    <p>
                    </p>
                    <h2>Mods Guide</h2>
                    <ol>
                        <li>Subscribe to all <a
                                href="https://steamcommunity.com/sharedfiles/filedetails/?id=1418684484">workshop
                                items</a></li>
                        <li><a href="SADLADS_GMOD_MODPACK_1.0.zip">Download Modpack</a></li>
                        <li>Right click Garry's Mod in Steam -&gt; Manage -&gt; Browse Local Files</li>
                        <img class="image" src="assets/games/gm-browse.jpg">
                        <li>Extract the modpack to the game folder. It should look like this:</li>
                        <img class="image" src="assets/games/gm-files.jpg">
                        <img class="image" src="assets/games/gm-files.jpg">
                    </ol>
                    <p></p>
                </div>

            </div>
        </div>
        <div class="tab-content" id="tab4">
            <div class="content">
                <div class="content">
                    <a href="https://store.steampowered.com/app/1966720/Lethal_Company/">Buy on Steam</a><br><br>
                    You are a contracted worker for the Company. Your job is to collect scrap from abandoned,
                    industrialized moons to meet the Company's profit quota. You can use the cash you earn to travel to
                    new moons with higher risks and rewards--or you can buy fancy suits and decorations for your ship.
                    Experience nature, scanning any creature you find to add them to your bestiary. Explore the wondrous
                    outdoors and rummage through their derelict, steel and concrete underbellies. Just <i>never</i> miss
                    the quota.
                </div>
                <div class="collapsible">
                    <input type="checkbox" id="VideosToggle">
                    <label for="VideosToggle">
                        <h2>Gameplay Videos</h2>
                    </label>
                    <div class="content">
                        <p>
                        </p>
                        <h3>Otto PoV (Otto audio broken)</h3>
                        <h4>Let's Stay Together</h4>
                        <video src="lc_together.mp4" type="video/mp4" width="500" controls=""></video>
                        <h4>Let's Split Up</h4>
                        <video src="lc_2teams.mp4" type="video/mp4" width="500" controls=""></video>
                        <h4>Spider Chase</h4>
                        <video src="lc_spider.mp4" type="video/mp4" width="500" controls=""></video>
                        <h4>Don't Go Left</h4>
                        <video src="lc_left.mp4" type="video/mp4" width="500" controls=""></video>
                        <h4>Let's Do the Jump and Die</h4>
                        <video src="lc_jump.mp4" type="video/mp4" width="500" controls=""></video>
                        <h3>Teo PoV</h3>
                        <h4>I Remember This</h4>
                        <video src="lc_Iremember.mp4" type="video/mp4" width="500" controls=""></video>
                        <p></p>
                    </div>
                </div>
                <div class="content">
                    <p>
                    </p>
                    <h2>Mods Guide</h2>

                </div>
                <ol>
                    <!-- <li><a href="SADLADS_LC_MODPACK_1.9.7.zip">Download Modpack (v1.9.7)</a> (Click <a href="old/">here</a> to view older versions)</li> -->
                    <li>Download &amp; install <a
                            href="https://media.sadlads.com/r2modman%20Setup%203.1.46.exe">r2modman</a></li>
                    <li>type "lethal company" in the search box, and click "set as default"</li>
                    <img class="image" src="assets/Games/gameselect.png" style="width:700px;">
                    <li>click the "Import / Update" button</li>
                    <img class="image" src="assets/Games/import.png" style="width:700px;">
                    <li>If it's your first time using r2modman, click "Import new profile". Otherwise, click "Update
                        existing profile"</li>
                    <li>Click "From Code"</li>
                    <li>Enter the following code: <span id="copySpan"
                            onclick="copyStuff()">018d7e5c-6549-7ce0-b7a7-aa8b3836237b</span> (click to copy)</li>
                    <li>Click "Import"</li>
                    <li>Make sure "SADLADS Mods" is selected, and Click "Select Profile"</li>
                    <li>Click "Start modded"</li>
                    <li>Yep, It's gaming time.</li>
                </ol>
                <p></p>
            </div>
        </div>
        <div class="tab-content" id="tab5">
            IP: mc.SADLADS.com<br>
            Apply<br>
            constantiam.sadlads.com
        </div>
    </div>

    <script src="scripts/starsCanvas.js"></script>
    <script>
        function showTab(tabIndex) {

            var tabContents = document.querySelectorAll('.tab-content');
            tabContents.forEach(function (tab) {
                tab.classList.remove('active');
            });
            var selectedTab = document.getElementById('tab' + (tabIndex + 1));
            selectedTab.classList.add('active');

            var mainContent = document.getElementById('mainContent');
            mainContent.style.display = 'block';
        }
    </script>

</body>

</html>