<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SADLADS</title>
    <link rel="stylesheet" href="css/VHS.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/LAN.css">

</head>

<body>


    <div id="video-container">
        <video id="background-video" preload="auto" loop muted>
            <source src="video1.mp4" type="video/mp4">
            <source src="video2.mp4" type="video/mp4">
            <source src="video3.mp4" type="video/mp4">
            <source src="video4.mp4" type="video/mp4">
            <source src="video5.mp4" type="video/mp4">

        </video>
    </div>

    <div class="lines"></div>

    <div class="filter"></div>

    <div class="main">
        <div class="noise"></div>



        <div class="Lan-Wrapper">
            <div class="lan-box">
                <div class="lan-blue-1">
                    <div id="countdown">
                        <p id="timer">Calculating . . .</p>
                    </div>

                </div>
                <div class="SADLADS-blue">
                    <h1>SADLADS LAN</h2>
                </div>
                <h2>27 June -> 30 June - Kempt Tower</h2>
                <p id="p-desc">A local area network (LAN) is a computer network that interconnects computers within a limited area such as a residence, school, laboratory, university campus or office building. By contrast, a wide area network (WAN) not only covers a larger geographic distance, but also generally involves leased telecommunication circuits.</p>
                <a href="https://discord.gg/QB3ha3H5"><div class="lan-blue-1">#Lan-Lads <span style="font-style: italic !important;">(Discord)</span></div></a>
                <p style="font-size: 1rem !important; font-style: italic !important; margin-left: 20px;">More details when i cba</p>
        </div>

    </div>






    <script src="scripts/countdown.js"></script>
    <script src='https://unpkg.com/splitting/dist/splitting.min.js'></script>
    <!-- <script src="scripts/VHS.js"></script> -->
    <audio id="audio" src="assets/static.wav"></audio>
    <script src="scripts/list.js"></script>
    <script src="scripts/tapes.js"></script>


</body>

</html>