<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        @font-face {
            font-family: faxFont;
            src: url("fonts/jmh_typewriter/faxFont.ttf");
        }

        html, body {
            background: #fff;  
            font-family: faxFont, sans-serif;
          }

          thead {
            border-bottom: 2px solid #000;
          }

          .lib-SRC {
            color: #fff;
            background-color: #000;
            font-size: 22px;
            margin-left: 50px;
            font-weight: normal;
          }

          .lib-Inst {
            color: #000;
            background-color: #fff;
            font-size: 16px;
            margin-left: 30px;
      
          }

          .Lib-Content-Wrapper {
            margin-top: 50px;
          }

          .Lib-Inst-Wrapper {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 50px;
          }

          .table-First {
            padding-left: 50px !important;
          }

          .lib-catagory {
            padding-left: 50px !important;
          }

    </style>


</head>
<body>
    <h1 class="lib-SRC">THE SADLADS RESEARCH CENTER</h1>
    <div class="Lib-Inst-Wrapper">
    <h2 class="lib-Inst">1. ALL LISTINGS ARE OF INTEREST TO SADLADS.</h2>
    <h2 class="lib-Inst">2. SOURCES CAN BE FOUND IN THE <span style="background-color:#000; color:#fff; padding: 3px;">[ VAULT ]</span> </h2>
    </div>

    <div class="Lib-Content-Wrapper">
    <h3 class="lib-catagory">[ INTERNAL PUBLICATIONS ]</h3>
    <table style="border-collapse: collapse; width: 100%;">
        <thead>
            <tr >
                <th style="padding: 8px; text-align: left;" class="table-First">NO.</th>
                <th style="padding: 8px; text-align: left;">TITLE</th>
                <th style="padding: 8px; text-align: left;">AUTHOR</th>

                <th style="padding: 8px; text-align: right;">DATE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding: 8px;" class="table-First">#01</td>
                <td style="padding: 8px;">XXX</td>
                <td style="padding: 8px;">NONE</td>

                <td style="padding: 8px; text-align: right;">XX/XX/XXXX</td>
            </tr>

        </tbody>
    </table>

    <h3 class="lib-catagory">[ ENCOURAGED READING ]</h3>
    <table style="border-collapse: collapse; width: 100%;">
        <thead>
            <tr >
                <th style="padding: 8px; text-align: left;" class="table-First">NO.</th>
                <th style="padding: 8px; text-align: left;">TITLE</th>
                <th style="padding: 8px; text-align: left;">AUTHOR</th>

                <th style="padding: 8px; text-align: right;">DATE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding: 8px;" class="table-First">#01</td>
                <td style="padding: 8px;">XXX</td>
                <td style="padding: 8px;">NONE</td>

                <td style="padding: 8px; text-align: right;">XX/XX/XXXX</td>
            </tr>

        </tbody>
    </table>
</div>



</body>
</html>




