<div class="content">
	<div class="content">
		<a href="https://store.steampowered.com/app/945360/Among_Us/">Buy on Steam</a><br><br>
		Play with 4-15 player online or via local WiFi as you attempt to prepare your spaceship for departure, but beware as one or more random players among the Crew are Impostors bent on killing everyone!
	</div>
	<div class="content">
	  <p>
		</p><h2>Mods Guide</h2>
		<ol>
			<li><a href="Better-CrewLink-Setup-3.1.1.exe">Download Crewlink exe</a></li>
			<li>Run the exe</li>
			<li>Play Among Us</li>
		</ol>
	  <p></p>
	</div>
	
	</div>